<%- include("partials/header.ejs") %>

    <!-- content -->
    <% if(expenses.length !== 0) { %>
    <div id="expenses">
        <% expenses.forEach((expense)=>{ %>
            <div class="expenseItem" style="background-color: <%=expense.category.color%>">
                <h4><%= expense.category.name %></h4>
                <h6>&#8377 <%= expense.amount %></h6>
                <h6><%= expense.date.toString() %></h6>
                <button id="<%=expense._id%>" baseurl="<%=baseurl%>" class="deleteExpenseBtn">
                    Delete
                </button>
            </div>
        <% }); %>
    </div>
    <% } %>

<%- include("partials/footer.ejs") %>